#headertable {
	background: #333 url(../../_media/elements/discharge/blank.png) repeat-y center;
}


/* @group Periodic Table */

caption.periodic_table_caption {
	background-color: #eee;
	font-size: 1.1em;
	text-align: center;
	border-style: none;
}

#pertable {
	font-family: 'Dosis', sans-serif;
	background-color: #eee;
	font-size: 1.1em;
	text-align: center;
	border-style: none;
	position: relative;
	width: 40%;
	
	right: 2%;
	left: 2%;
	margin: 1px;
}

#pertable th {
	padding: 1px;
	text-align: center;
	font-size: 1em;
}

#pertable .lbl {
	color: black;
	background-color: #eee;
	/* border: 1px solid #aaaaaa; */
	font-size: 0.8em;
	vertical-align: middle;
	padding-left:25px;
}



#pertable .asterisk {
	color: #cc3300;
	font-size: 0.8em;
	vertical-align: middle;
	border-style: none;
}

#pertable .w5 {
	margin-top:50px;
	color: black;
	background-color: #eee;
	width: 5.1%;
	/* border: 1px solid #aaaaaa; */
	font-size: 0.8em;
	text-align: center;
}

#pertable .w2 {
	color: #cc3300;
	background-color: #eee;
	width: 2%;
	text-align: center;
	font-size: 0.8em;
}

#pertable .w8 {
	color: #cc3300;
	background-color: #eee;
	width: 6.2%;
	/* border: 1px solid #aaaaaa; */
	font-size: 0.8em;
	text-align: center;
}

.at_num {
	font-size: 0.75em;
	padding: 0;
	margin: 1px 0 0;
	line-height: 1em;
}

.sym {
	font-size: 1em;
	padding: 0;
	line-height: 1em;
	margin: 0;
	font-weight: bold;
	border-style: none;
}

.at_wt {
	font-size: 0.6em;
	font-color:black;
	padding: 0;
	line-height: 1em;
	margin: 2px 0 1px;
}

a.symb:link {
	color: #10059f;
}

a.symb:visited {
	color: #7e0b80;
	text-decoration: none;
}

a.symb:hover {
	color: #ffffff;
	text-decoration: underline;
	background-color: transparent;
}

a.symb:active {
	color: #dd99ff;
	background-color: transparent;
}

.x {
	color: #333333;
	background-color: #666666;
	border: 1px solid #009900;
	text-align: center;
}

.unknown {
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	text-align: center;
}

.xs {
	margin:10px;
	color: #333333;
	background-color: #E69797;
	border: 1px solid #cc6666;
	text-align: center;
	max-width: 47px;
	max-height: 48px;
}

.xs:hover{
	margin:10px;
	color: #333333;
	background-color: #cc6666;
	border: 1px solid #cc6666;
	text-align: center;
}

.xp {
	margin:10px;
	color: #333333;
	background-color: #8CD5E6;
	border: 1px solid #3FA5D1;
	text-align: center;
}

.xp:hover{
	margin:10px;
	color: #333333;
	background-color: #3FA5D1;
	border: 1px solid #3FA5D1;
	text-align: center;
}

.xd {
	margin:10px;
	color: #333333;
	background-color: #E8E66B;
	border: 1px solid #D1C53F;
	text-align: center;
}

.xd:hover{
	margin:10px;
	color: #333333;
	background-color: #D1C53F;
	border: 1px solid #D1C53F;
	text-align: center;
}

.xf {
	margin:10px;
	color: #333333;
	background-color: #43E0A2;
	border: 1px solid #34BF75;
	text-align: center;
}

.xf:hover{
	margin:10px;
	color: #333333;
	background-color: #34BF75;
	border: 1px solid #34BF75;
	text-align: center;
}

.xg {
	color: #333333;
	background-color: #cc33ff;
	border: 1px solid #34BF75;
	text-align: center;
}

.xg:hover {
	color: #333333;
	background-color: #34BF75;
	border: 1px solid #34BF75;
	text-align: center;
}

.xz {
	color: #333333;
	background-color: #cccccc;
	border: 1px solid #34BF75;
	text-align: center;
}

.xz:hover{
	color: #333333;
	background-color: #34BF75;
	border: 1px solid #34BF75;
	text-align: center;
}


#pertable small {
	font-size: 0.7em;
}

/* @end */

/* @group menu horizontal categories */

ul.menu_hz_categories {
	text-align: center;
	/* background: #fff repeat-x; */
	clear: both;
	line-height: 1.5em;
	margin: 0;
	background-color: #333;
	padding-top: 6px;
	padding-bottom: 2px;
	color: #fffeff;
}

ul.menu_hz_categories li {
	font-size: 80%;
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0 12px;
}

ul.menu_hz_categories li a {
	border: 1px solid #aaa;
	/*border-bottom-style: none;*/
	background: #333 /*url(../../_theme/images/menu-hz-z.png) repeat-x*/ ;
	padding: 2px 4px;
	color: #fffeff;
	vertical-align: middle;
}

ul.menu_hz_categories li a.selected {
	color: #fed37f;
}

ul.menu_hz_categories li a:hover, ul.menu_hz_base li a:hover.selected {
	/*background-position: 0% -80px;*/
	color: #fed37f;
}

ul.menu_hz_categories li a:active, ul.menu_hz_base li a:active.selected {
	color: #fffeff;
}

/* @end */