<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chemX | Home</title>
    <link rel='stylesheet' href='https://squaredorito.github.io/css/foundation.css'>
    <link rel="stylesheet" type="text/css" media="all" href="{% static "chemInterpreter/css/layout.css" %}" >
    <link rel="stylesheet" type="text/css" media="all" href="{% static "chemInterpreter/css/style.css" %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static "chemInterpreter/css/zblock.css" %}">
    <link rel="stylesheet" type="text/css" media="all" href="{% static "chemInterpreter/css/ptable.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="favicon.png">
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.4.0/extensions/TeX/mhchem.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style type="text/css"></style>
</head>
{% block content %}
<body>
    <nav class="top-bar" data-topbar role="navigation" style="font-size:5000%;">
      <ul class="title-area">
        <li class="name">
          <h1 style="font-family: 'Open Sans Condensed', sans-serif;"><a href="#">chemX</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a style="font-family: 'Open Sans Condensed', sans-serif;" href="#">Right Button Active</a></li>
          <li class="has-dropdown">
            <a href="#" style="font-family: 'Open Sans Condensed', sans-serif;">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#" style="font-family: 'Open Sans Condensed', sans-serif;">Left Nav Button</a></li>
        </ul>
      </section>
    </nav>
    <br>
    <br>
    <div class="row">
    <div id="search">
        <div class="row collapse" style="width:540px;position:absolute;margin-top:10px;z-index:1;left:22%;">
            <div class="small-11 columns">
                <input type='text' id="searchinput" placeholder="Search..."/>
                <div id="autocompletion" style="margin:0;padding:0;vertical-align:text-top;padding-left:10px;margin-top:-17px;top-border:0px;"></div>
            </div>
            <div class="small-1 columns">
                <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#4285f4;border-radius:1px;z-index:5;margin-top:-1px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:8px;padding-bottom:8px;padding-left:20px;padding-right:20px;" >Go</button>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <table id="pertable" style="padding:15px;clear:both;position:absolute;left:-7%;margin-top:60px;">
        <div class="row">
            <div class="large-7 columns" style="left:-7%">
            </div>
        </div>
        <tbody>
            <tr>
                <th class="w8"></th>
                <th class="w5">1</th>
                <th class="w5">2</th>
                <th class="w5">3</th>
                <th class="w5">4</th>
                <th class="w5">5</th>
                <th class="w5">6</th>
                <th class="w5">7</th>
                <th class="w5">8</th>
                <th class="w5">9</th>
                <th class="w5">10</th>
                <th class="w5">11</th>
                <th class="w5">12</th>
                <th class="w5">13</th>
                <th class="w5">14</th>
                <th class="w5">15</th>
                <th class="w5">16</th>
                <th class="w5">17</th>
                <th class="w5">18</th>
            </tr>
            <tr>
                <th class="lbl"></th>
                <td colspan="19"></td>
            </tr>
            <tr>
                <th class="lbl">1</th>
                <td class="xs modal">
                    <div class="at_num">1</div>
                    <div class="symbol"><abbr class="sym" title="hydrogen: essential data and description">H</abbr>
                    </div>

                </td>
                <td colspan="16"></td>
                <td class="xp modal">
                    <div class="at_num">2</div>
                    <div class="symbol"><abbr class="sym" title="helium: essential data and description">He</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">2</th>
                <td class="xs modal">
                    <div class="at_num">3</div>
                    <div class="symbol"><abbr class="sym" title="lithium: essential data and description">Li</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">4</div>
                    <div class="symbol"><abbr class="sym" title="beryllium: essential data and description">Be</abbr>
                    </div>

                </td>
                <td colspan="10"></td>
                <td class="xp modal">
                    <div class="at_num">5</div>
                    <div class="symbol"><abbr class="sym" title="boron: essential data and description">B</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">6</div>
                    <div class="symbol"><abbr class="sym" title="carbon: essential data and description">C</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">7</div>
                    <div class="symbol"><abbr class="sym" title="nitrogen: essential data and description">N</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">8</div>
                    <div class="symbol"><abbr class="sym" title="oxygen: essential data and description">O</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">9</div>
                    <div class="symbol"><abbr class="sym" title="fluorine: essential data and description">F</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">10</div>
                    <div class="symbol"><abbr class="sym" title="neon: essential data and description">Ne</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">3</th>
                <td class="xs modal">
                    <div class="at_num">11</div>
                    <div class="symbol"><abbr class="sym" title="sodium: essential data and description">Na</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">12</div>
                    <div class="symbol"><abbr class="sym" title="magnesium: essential data and description">Mg</abbr>
                    </div>

                </td>
                <td colspan="10"></td>
                <td class="xp modal">
                    <div class="at_num">13</div>
                    <div class="symbol"><abbr class="sym" title="aluminium (aluminum in US): essential data and description">Al</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">14</div>
                    <div class="symbol"><abbr class="sym" title="silicon: essential data and description">Si</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">15</div>
                    <div class="symbol"><abbr class="sym" title="phosphorus: essential data and description">P</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">16</div>
                    <div class="symbol"><abbr class="sym" title="sulfur (sulphur in UK and elsewhere): essential data and description">S</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">17</div>
                    <div class="symbol"><abbr class="sym" title="chlorine: essential data and description">Cl</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">18</div>
                    <div class="symbol"><abbr class="sym" title="argon: essential data and description">Ar</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">4</th>
                <td class="xs modal">
                    <div class="at_num">19</div>
                    <div class="symbol"><abbr class="sym" title="potassium: essential data and description">K</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">20</div>
                    <div class="symbol"><abbr class="sym" title="calcium: essential data and description">Ca</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">21</div>
                    <div class="symbol"><abbr class="sym" title="scandium: essential data and description">Sc</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">22</div>
                    <div class="symbol"><abbr class="sym" title="titanium: essential data and description">Ti</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">23</div>
                    <div class="symbol"><abbr class="sym" title="vanadium: essential data and description">V</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">24</div>
                    <div class="symbol"><abbr class="sym" title="chromium: essential data and description">Cr</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">25</div>
                    <div class="symbol"><abbr class="sym" title="manganese: essential data and description">Mn</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">26</div>
                    <div class="symbol"><abbr class="sym" title="iron: essential data and description">Fe</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">27</div>
                    <div class="symbol"><abbr class="sym" title="cobalt: essential data and description">Co</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">28</div>
                    <div class="symbol"><abbr class="sym" title="nickel: essential data and description">Ni</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">29</div>
                    <div class="symbol"><abbr class="sym" title="copper: essential data and description">Cu</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">30</div>
                    <div class="symbol"><abbr class="sym" title="zinc: essential data and description">Zn</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">31</div>
                    <div class="symbol"><abbr class="sym" title="gallium: essential data and description">Ga</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">32</div>
                    <div class="symbol"><abbr class="sym" title="germanium: essential data and description">Ge</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">33</div>
                    <div class="symbol"><abbr class="sym" title="arsenic: essential data and description">As</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">34</div>
                    <div class="symbol"><abbr class="sym" title="selenium: essential data and description">Se</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">35</div>
                    <div class="symbol"><abbr class="sym" title="bromine: essential data and description">Br</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">36</div>
                    <div class="symbol"><abbr class="sym" title="krypton: essential data and description">Kr</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">5</th>
                <td class="xs modal">
                    <div class="at_num">37</div>
                    <div class="symbol"><abbr class="sym" title="rubidium: essential data and description">Rb</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">38</div>
                    <div class="symbol"><abbr class="sym" title="strontium: essential data and description">Sr</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">39</div>
                    <div class="symbol"><abbr class="sym" title="yttrium: essential data and description">Y</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">40</div>
                    <div class="symbol"><abbr class="sym" title="zirconium: essential data and description">Zr</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">41</div>
                    <div class="symbol"><abbr class="sym" title="niobium: essential data and description">Nb</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">42</div>
                    <div class="symbol"><abbr class="sym" title="molybdenum: essential data and description">Mo</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">43</div>
                    <div class="symbol"><abbr class="sym" title="technetium: essential data and description">Tc</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">44</div>
                    <div class="symbol"><abbr class="sym" title="ruthenium: essential data and description">Ru</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">45</div>
                    <div class="symbol"><abbr class="sym" title="rhodium: essential data and description">Rh</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">46</div>
                    <div class="symbol"><abbr class="sym" title="palladium: essential data and description">Pd</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">47</div>
                    <div class="symbol"><abbr class="sym" title="silver: essential data and description">Ag</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">48</div>
                    <div class="symbol"><abbr class="sym" title="cadmium: essential data and description">Cd</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">49</div>
                    <div class="symbol"><abbr class="sym" title="indium: essential data and description">In</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">50</div>
                    <div class="symbol"><abbr class="sym" title="tin: essential data and description">Sn</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">51</div>
                    <div class="symbol"><abbr class="sym" title="antimony: essential data and description">Sb</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">52</div>
                    <div class="symbol"><abbr class="sym" title="tellurium: essential data and description">Te</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">53</div>
                    <div class="symbol"><abbr class="sym" title="iodine: essential data and description">I</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">54</div>
                    <div class="symbol"><abbr class="sym" title="xenon: essential data and description">Xe</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">6</th>
                <td class="xs modal">
                    <div class="at_num">55</div>
                    <div class="symbol"><abbr class="sym" title="caesium (cesium in US): essential data and description">Cs</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">56</div>
                    <div class="symbol"><abbr class="sym" title="barium: essential data and description">Ba</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">71</div>
                    <div class="symbol"><abbr class="sym" title="lutetium: essential data and description">Lu</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">72</div>
                    <div class="symbol"><abbr class="sym" title="hafnium: essential data and description">Hf</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">73</div>
                    <div class="symbol"><abbr class="sym" title="tantalum: essential data and description">Ta</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">74</div>
                    <div class="symbol"><abbr class="sym" title="tungsten: essential data and description">W</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">75</div>
                    <div class="symbol"><abbr class="sym" title="rhenium: essential data and description">Re</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">76</div>
                    <div class="symbol"><abbr class="sym" title="osmium: essential data and description">Os</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">77</div>
                    <div class="symbol"><abbr class="sym" title="iridium: essential data and description">Ir</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">78</div>
                    <div class="symbol"><abbr class="sym" title="platinum: essential data and description">Pt</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">79</div>
                    <div class="symbol"><abbr class="sym" title="gold: essential data and description">Au</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">80</div>
                    <div class="symbol"><abbr class="sym" title="mercury: essential data and description">Hg</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">81</div>
                    <div class="symbol"><abbr class="sym" title="thallium: essential data and description">Tl</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">82</div>
                    <div class="symbol"><abbr class="sym" title="lead: essential data and description">Pb</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">83</div>
                    <div class="symbol"><abbr class="sym" title="bismuth: essential data and description">Bi</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">84</div>
                    <div class="symbol"><abbr class="sym" title="polonium: essential data and description">Po</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">85</div>
                    <div class="symbol"><abbr class="sym" title="astatine: essential data and description">At</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">86</div>
                    <div class="symbol"><abbr class="sym" title="radon: essential data and description">Rn</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <th class="lbl">7</th>
                <td class="xs modal">
                    <div class="at_num">87</div>
                    <div class="symbol"><abbr class="sym" title="francium: essential data and description">Fr</abbr>
                    </div>

                </td>
                <td class="xs modal">
                    <div class="at_num">88</div>
                    <div class="symbol"><abbr class="sym" title="radium: essential data and description">Ra</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">103</div>
                    <div class="symbol"><abbr class="sym" title="lawrencium: essential data and description">Lr</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">104</div>
                    <div class="symbol"><abbr class="sym" title="rutherfordium: essential data and description">Rf</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">105</div>
                    <div class="symbol"><abbr class="sym" title="dubnium: essential data and description">Db</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">106</div>
                    <div class="symbol"><abbr class="sym" title="seaborgium: essential data and description">Sg</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">107</div>
                    <div class="symbol"><abbr class="sym" title="bohrium: essential data and description">Bh</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">108</div>
                    <div class="symbol"><abbr class="sym" title="hassium: essential data and description">Hs</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">109</div>
                    <div class="symbol"><abbr class="sym" title="meitnerium: essential data and description">Mt</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">110</div>
                    <div class="symbol"><abbr class="sym" title="darmstadtium: essential data and description">Ds</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">111</div>
                    <div class="symbol"><abbr class="sym" title="roentgenium: essential data and description">Rg</abbr>
                    </div>

                </td>
                <td class="xd modal">
                    <div class="at_num">112</div>
                    <div class="symbol"><abbr class="sym" title="copernicium: essential data and description">Cn</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">113</div>
                    <div class="symbol"><abbr class="sym" title="ununtrium: essential data and description">Uut</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">114</div>
                    <div class="symbol"><abbr class="sym" title="flerovium: essential data and description">Fl</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">115</div>
                    <div class="symbol"><abbr class="sym" title="ununpentium: essential data and description">Uup</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">116</div>
                    <div class="symbol"><abbr class="sym" title="livermorium: essential data and description">Lv</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">117</div>
                    <div class="symbol"><abbr class="sym" title="ununseptium: essential data and description">Uus</abbr>
                    </div>

                </td>
                <td class="xp modal">
                    <div class="at_num">118</div>
                    <div class="symbol"><abbr class="sym" title="ununoctium: essential data and description">Uuo</abbr>
                    </div>

                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="19"></td>
            </tr>
            <tr>
                <th class="lbl" colspan="3"></th>
                <td class="xf modal">
                    <div class="at_num">57</div>
                    <div class="symbol"><abbr class="sym" title="lanthanum: essential data and description">La</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">58</div>
                    <div class="symbol"><abbr class="sym" title="cerium: essential data and description">Ce</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">59</div>
                    <div class="symbol"><abbr class="sym" title="praseodymium: essential data and description">Pr</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">60</div>
                    <div class="symbol"><abbr class="sym" title="neodymium: essential data and description">Nd</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">61</div>
                    <div class="symbol"><abbr class="sym" title="promethium: essential data and description">Pm</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">62</div>
                    <div class="symbol"><abbr class="sym" title="samarium: essential data and description">Sm</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">63</div>
                    <div class="symbol"><abbr class="sym" title="europium: essential data and description">Eu</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">64</div>
                    <div class="symbol"><abbr class="sym" title="gadolinium: essential data and description">Gd</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">65</div>
                    <div class="symbol"><abbr class="sym" title="terbium: essential data and description">Tb</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">66</div>
                    <div class="symbol"><abbr class="sym" title="dysprosium: essential data and description">Dy</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">67</div>
                    <div class="symbol"><abbr class="sym" title="holmium: essential data and description">Ho</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">68</div>
                    <div class="symbol"><abbr class="sym" title="erbium: essential data and description">Er</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">69</div>
                    <div class="symbol"><abbr class="sym" title="thulium: essential data and description">Tm</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">70</div>
                    <div class="symbol"><abbr class="sym" title="ytterbium: essential data and description">Yb</abbr>
                    </div>

                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th class="lbl" colspan="3"></th>
                <td class="xf modal">
                    <div class="at_num">89</div>
                    <div class="symbol"><abbr class="sym" title="actinium: essential data and description">Ac</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">90</div>
                    <div class="symbol"><abbr class="sym" title="thorium: essential data and description">Th</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">91</div>
                    <div class="symbol"><abbr class="sym" title="protactinium: essential data and description">Pa</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">92</div>
                    <div class="symbol"><abbr class="sym" title="uranium: essential data and description">U</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">93</div>
                    <div class="symbol"><abbr class="sym" title="neptunium: essential data and description">Np</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">94</div>
                    <div class="symbol"><abbr class="sym" title="plutonium: essential data and description">Pu</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">95</div>
                    <div class="symbol"><abbr class="sym" title="americium: essential data and description">Am</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">96</div>
                    <div class="symbol"><abbr class="sym" title="curium: essential data and description">Cm</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">97</div>
                    <div class="symbol"><abbr class="sym" title="berkelium: essential data and description">Bk</abbr>
                    </div>
                </td>
                <td class="xf modal">
                    <div class="at_num">98</div>
                    <div class="symbol"><abbr class="sym" title="californium: essential data and description">Cf</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">99</div>
                    <div class="symbol"><abbr class="sym" title="einsteinium: essential data and description">Es</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">100</div>
                    <div class="symbol"><abbr class="sym" title="fermium: essential data and description">Fm</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">101</div>
                    <div class="symbol"><abbr class="sym" title="mendelevium: essential data and description">Md</abbr>
                    </div>

                </td>
                <td class="xf modal">
                    <div class="at_num">102</div>
                    <div class="symbol"><abbr class="sym" title="nobelium: essential data and description">No</abbr>
                    </div>
                </td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="font-family: 'Open Sans Condensed', sans-serif;margin-top:60px;margin-bottom:200px;">
        <div class="large-3 columns">
            <br>
        </div>
        <div class="large-9 columns">
            <div class="panel" style="left:40%; position:absolute;border-radius:5px;margin-bottom:-1000px;left:37%">
                <div style="width: 520px;">

                    <div class="row">
                        <div class="large-5 columns" style="font-family: 'Open Sans Condensed', sans-serif;border-right-style:solid;border-right-width:1px;width:200px">
                            <hr>Standard Atomic Mass
                            <hr>Element Category
                            <hr>Electron Config
                            <hr>Phase
                            <hr>Melting Point
                            <hr>Boiling Point
                            <hr>Density
                            <hr>Liquid Density
                            <hr>Triple Point
                            <hr>Critical Point
                            <hr>Heat of Fusion
                            <hr>Heat of Vapor.
                            <hr>Molar Heat Capacity
                            <hr>Vapor Pressure
                            <hr>Oxidation States
                            <hr>Electronegativity
                            <hr>Crystal Structure
                            <hr style="margin-bottom:-2px;">
                        </div>
                            <div class="large-7 columns">
                                <center>
                                {% csrf_token %}
                                <!--<button style="font-family: 'Open Sans Condensed', sans-serif;color:black;background-color:#8CD5E6" class="small radius button" type="button" onclick="$('#pertable').toggle()">Toggle Periodic Table</button>-->
                                <div style="position: absolute; top: 0; width: 55px; text-align:left;margin-top:10px;margin-left:60px">
                                    <input class="latexFormat" id="neutrons" name="neutrons" type="text" placeholder="Neutrons    " style="border-radius:5px">

                                </div>
                                <div style="position: absolute; top: 0; right: 0; width: 55px; text-align:right;margin-top:10px;margin-right:40px;">
                                    <input class="latexFormat" name="charge" type="text" placeholder="Charge" style="border-radius:5px">
                                </div>
                                <br>
								<div id="holder" style="margin-left:35px;">
									<div class="xs modal" style="width:80px; height:83px; font-size:200%; " >
										<div class="at_num">1</div>
										<div class="symbol"><abbr class="sym" title="">H</abbr>
										</div>
									</div>
								</div>
                                {% csrf_token %}
                                <div style="position: absolute; top: 0; width: 55px; text-align:left;margin-top:90px;margin-left:60px">
                                    <input class="latexFormat" name="atomicMass" type="text" placeholder="Atomic Mass" style="border-radius:5px">
                                </div>
                                <div style="position: absolute; top: 0; right: 0; width: 55px; text-align:right;margin-top:90px;margin-right:40px;">
                                    <input class="latexFormat" name="number" type="text" placeholder="Number" style="border-radius:5px">
                                </div>
                                </center>

                                <div class="row" style="margin-left:48px;">
                                    <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#8CD5E6;border-radius:1px;z-index:5;margin-top:30px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:4px;padding-bottom:8px;padding-left:15px;padding-right:15px;border-radius:6px;" >+</button>
                                    <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#8CD5E6;border-radius:1px;z-index:5;margin-top:30px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:4px;padding-bottom:8px;padding-left:15px;padding-right:15px;border-radius:6px;" >-</button>
                                    <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#8CD5E6;border-radius:1px;z-index:5;margin-top:30px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:4px;padding-bottom:8px;padding-left:15px;padding-right:15px;border-radius:6px;" >&#8594;</button>
                                    <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#8CD5E6;border-radius:1px;z-index:5;margin-top:30px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:4px;padding-bottom:8px;padding-left:15px;padding-right:15px;border-radius:6px;" >&#8592;</button>
                                    <button type="small radius button" style="font-family: 'Open Sans Condensed', sans-serif;background-color:#8CD5E6;border-radius:1px;z-index:5;margin-top:30px;bottom:auto;top:auto;vertical-align: text-top;height:70%;padding-top:4px;padding-bottom:8px;padding-left:15px;padding-right:15px;border-radius:6px;" >&#8596;</button>
                                </div>
                            </div>
                        <div class="row">
                            <div class="large-12 columns">
                            <hr>
                                <center>
                                <p>Latex:<span id="latex"><br><br></span></p>
                                </center>
                                <hr>
                                <center>
                                <p>Plaintext:<span id="latex"><br></span></p>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        
    </div>
    <br><br>
    </div>

    <br>
    <br>

	<div style="right:20%; clear: both;position:absolute" id="details">
	</div>

    <script type="text/javascript" src="{% static "chemInterpreter/js/vex.js" %}"></script>
    <script type="text/javascript" src="{% static "chemInterpreter/js/custom.js" %}" deferred></script>
	
</body>
{% endblock %}
</html>
