/* @group Full page */

body {
	width: 1024px;
	font-size: 100%;
	margin: auto;
	background-color:#555
}

#webelements {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 12px;
}

/* @end */

/* @group Header */

#header {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Main */

#main {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

#maintable {
	width: 100%;
	margin: 0;
	padding: 0;
}

td.c1 {
	width: 300px;
}

td.c2 {
	width: 13%;
	margin: 0;
	padding: 0;
}

td.c3 {
	padding-right: 6px;
	padding-left: 6px;
}

#chemistry {
	margin: 0;
	padding: 0;
}


/* @end */

/* @group Footer */

#footer {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer_links {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}



/* @end */


